body {
	background-color: #000000;
	margin:0px;
	padding:0px;
	background-repeat: no-repeat;
	width:100%;
    background-attachment: fixed;
    background-position: center; 
}

h2 {
	text-align: center;
	color:#fff;
	padding:5;
	margin-top:0;
}

h5 {
    text-align: center;
    color:#fff;
    padding:0;
    margin-top:0;
}


.base {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 600px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 100px;
    width: 350px;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 10px 0px;
}/*#DIV_1*/

.base_signup {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 700px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 50px;
    width: 350px;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 10px 0px;
}/*#DIV_1*/

.basejobs {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 160px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 50px;
    width: 80%;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 10px 0px;
}/*#DIV_1*/

#logo1 {

}

#logo {
    background-position: 0px 0px;
    color: rgb(38, 38, 38);
    height: 51px;
    min-height: auto;
    min-width: auto;
    text-indent: 110%;
    white-space: nowrap;
    width: 175px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 87.5px 25.5px;
    transform-origin: 87.5px 25.5px;
    border: 0px none rgb(38, 38, 38);
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 20px 86.5px 10px;
    outline: rgb(38, 38, 38) none 0px;
    overflow: hidden;
}/*#H1_2*/

#SPLIT_1{
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 400px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 348px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 174px 200px;
    transform-origin: 174px 200px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(38, 38, 38) none 0px;
    align: center;
}/*#DIV_3*/

#FORM_1 {
    color: rgb(38, 38, 38);
    display: flex;
    height: 400px;
    min-height: auto;
    min-width: auto;
    width: 348px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 174px 200px;
    transform-origin: 174px 200px;
    border: 0px none rgb(38, 38, 38);
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(38, 38, 38) none 0px;
}/*#FORM_4*/


#SPAN_1 {
    bottom: 0px;
    color: rgb(38, 38, 38);
    display: block;
    height: 31px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 15.5px;
    transform-origin: 134px 15.5px;
    border: 0px none rgb(38, 38, 38);
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 8px 40px;
    outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_6, #SPAN_22*/

#BUTTON {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 31px;
    min-height: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 268px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 134px 15.5px;
    transform-origin: 134px 15.5px;
    background: rgba(11, 61, 146,0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(11, 61, 146);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 600 normal 14px / 29px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 11px;
}/*#BUTTON_7, #BUTTON_23*/

#BUTTON:after {
    color: rgb(255, 255, 255);
    content: '"."';
    cursor: pointer;
    display: inline-block;
    height: 29px;
    visibility: hidden;
    white-space: nowrap;
    width: 0px;
    column-rule-color: rgb(255, 255, 255);
    align-self: flex-start;
    perspective-origin: 0px 14.5px;
    transform-origin: 0px 14.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 29px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_7:after, #BUTTON_23:after*/


#SPLIT_2, #SPLIT_5 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 15px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 7.5px;
    transform-origin: 134px 7.5px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 10px 40px 5px;
    outline: rgb(38, 38, 38) none 0px;
}/*#DIV_9*/

#DIV_10{
    bottom: -7.2px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 1px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 7.2px;
    width: 106.953px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 53.4688px 0.5px;
    transform-origin: 53.4688px 0.5px;
    background: rgb(199, 199, 199) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(0, 0, 0);
    flex: 1 1 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
}/*#DIV_10, #DIV_12*/


#inputform {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 33px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 20px 6px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13, #DIV_15, #DIV_17, #DIV_19*/

#inputformopt {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 23px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: -10px 10px 10px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13, #DIV_15, #DIV_17, #DIV_19*/

#INPUT_14, #INPUT_16, #INPUT_20 {
    background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px;
}/*#INPUT_14, #INPUT_16, #INPUT_20*/

#INPUT_18 {
    background-position: 0px 0px;
    color: rgb(38, 38, 38);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px;
}/*#INPUT_18*/

#DIV_21 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 47px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 348px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 174px 23.5px;
    transform-origin: 174px 23.5px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
}/*#DIV_21*/

#text {
    color: rgb(255,255,255);
    height: 37px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    width: 228px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 114px 18.5px;
    transform-origin: 114px 18.5px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 14px / 18px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 10px 60px;
    margin-bottom: 0;
    outline: rgb(153, 153, 153) none 0px;
}/*#P_24*/

#A_25, #A_26 {
    color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    column-rule-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px / 18px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#A_25, #A_26*/

#button_2 {
	color: rgb(255, 255, 255);
    cursor: pointer;
    height: 31px;
    min-height: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 268px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 134px 15.5px;
    transform-origin: 134px 15.5px;
    background: rgba(11, 61, 146,0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(11, 61, 146);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 600 normal 14px / 29px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 11px;
    align: center;
}


/*--------- TABS CSS ---------*/
#DIV_1 {
    color: rgb(255, 255, 255);
    height: 31.5px;
    width: 250px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 142.5px 24.5px;
    transform-origin: 142.5px 24.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 8.75px 17.5px;
}/*#DIV_1*/

#DIV_2 {
    color: rgb(255, 255, 255);
    float: left;
    height: 26.25px;
    width: 141.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 70.6875px 13.125px;
    transform-origin: 70.6875px 13.125px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    margin: 5.25px 12.25px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2*/

#DIV_3 {
    color: rgb(255, 255, 255);
    float: left;
    height: 19.25px;
    width: 19.25px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 9.625px 9.625px;
    transform-origin: 9.625px 9.625px;
    background: rgba(0, 0, 0, 0) url("https://onepagelove.com/wp-content/themes/onepagelove/img/heart.png") no-repeat scroll 0% 0% / 19.25px 19.25px padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3*/

#A_4 {
    color: rgb(253, 108, 163);
    display: block;
    height: 19.25px;
    text-decoration: none;
    width: 19.25px;
    column-rule-color: rgb(253, 108, 163);
    perspective-origin: 9.625px 9.625px;
    transform-origin: 9.625px 9.625px;
    border: 0px none rgb(253, 108, 163);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(253, 108, 163) none 0px;
}/*#A_4*/

#DIV_5 {
    color: rgb(255, 255, 255);
    float: left;
    height: 19.25px;
    text-transform: uppercase;
    width: 118.641px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 59.3125px 9.625px;
    transform-origin: 59.3125px 9.625px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    margin: 2.625px 0px 0px 3.5px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_5*/

#A_6 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: rgb(0, 0, 0) 0px 1px 0px;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 15.75px / 17.5px proxima-nova-soft, "Arial Rounded MT", Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_6*/

#DIV_7 {
    color: rgb(255, 255, 255);
    display: none;
    float: left;
    height: auto;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_7*/

#UL_8 {
    color: rgb(255, 255, 255);
    height: auto;
    text-rendering: optimizeLegibility;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#UL_8*/

#LI_9, #LI_11, #LI_28, #LI_97, #LI_156, #LI_195 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_9, #LI_11, #LI_28, #LI_97, #LI_156, #LI_195*/

#A_10, #A_12, #A_29, #A_98, #A_157, #A_196, #A_211 {
    color: rgb(153, 153, 153);
    display: block;
    height: 17.5px;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px / 14px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 8.75px 12.25px 17.5px;
}/*#A_10, #A_12, #A_29, #A_98, #A_157, #A_196, #A_211*/

#UL_13, #UL_197, #UL_212, #UL_225 {
    color: rgb(255, 255, 255);
    display: none;
    height: auto;
    left: -13.125px;
    text-align: left;
    text-rendering: optimizeLegibility;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(30, 30, 30) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 0 0 4px 4px;
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 0px 8.75px;
}/*#UL_13, #UL_197, #UL_212, #UL_225*/

#LI_14, #LI_16, #LI_18, #LI_20, #LI_22, #LI_24, #LI_26, #LI_198, #LI_200, #LI_202, #LI_204, #LI_206, #LI_208, #LI_213, #LI_215, #LI_217, #LI_219, #LI_221, #LI_226, #LI_228, #LI_230, #LI_232, #LI_234, #LI_236, #LI_238 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 113.75px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_14, #LI_16, #LI_18, #LI_20, #LI_22, #LI_24, #LI_26, #LI_198, #LI_200, #LI_202, #LI_204, #LI_206, #LI_208, #LI_213, #LI_215, #LI_217, #LI_219, #LI_221, #LI_226, #LI_228, #LI_230, #LI_232, #LI_234, #LI_236, #LI_238*/

#A_15, #A_17, #A_21, #A_25, #A_32, #A_34, #A_36, #A_38, #A_40, #A_42, #A_44, #A_46, #A_48, #A_50, #A_52, #A_54, #A_56, #A_58, #A_60, #A_62, #A_64, #A_66, #A_68, #A_70, #A_72, #A_74, #A_76, #A_78, #A_80, #A_82, #A_84, #A_86, #A_88, #A_90, #A_92, #A_94, #A_101, #A_103, #A_105, #A_107, #A_109, #A_111, #A_113, #A_115, #A_117, #A_119, #A_121, #A_123, #A_125, #A_127, #A_129, #A_131, #A_133, #A_135, #A_137, #A_139, #A_141, #A_143, #A_145, #A_147, #A_149, #A_151, #A_153, #A_160, #A_162, #A_164, #A_166, #A_168, #A_170, #A_172, #A_174, #A_176, #A_178, #A_180, #A_182, #A_184, #A_186, #A_188, #A_190, #A_192, #A_199, #A_203, #A_207, #A_214, #A_218 {
    color: rgb(119, 119, 119);
    display: block;
    height: 14px;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 12.25px / 12.25px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
    padding: 11.375px 17.5px 9.625px;
}/*#A_15, #A_17, #A_21, #A_25, #A_32, #A_34, #A_36, #A_38, #A_40, #A_42, #A_44, #A_46, #A_48, #A_50, #A_52, #A_54, #A_56, #A_58, #A_60, #A_62, #A_64, #A_66, #A_68, #A_70, #A_72, #A_74, #A_76, #A_78, #A_80, #A_82, #A_84, #A_86, #A_88, #A_90, #A_92, #A_94, #A_101, #A_103, #A_105, #A_107, #A_109, #A_111, #A_113, #A_115, #A_117, #A_119, #A_121, #A_123, #A_125, #A_127, #A_129, #A_131, #A_133, #A_135, #A_137, #A_139, #A_141, #A_143, #A_145, #A_147, #A_149, #A_151, #A_153, #A_160, #A_162, #A_164, #A_166, #A_168, #A_170, #A_172, #A_174, #A_176, #A_178, #A_180, #A_182, #A_184, #A_186, #A_188, #A_190, #A_192, #A_199, #A_203, #A_207, #A_214, #A_218*/

#A_19, #A_23, #A_201, #A_216 {
    color: rgb(119, 119, 119);
    display: block;
    height: 14px;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 12.25px / 12.25px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
    padding: 11.375px 17.5px 9.625px;
}/*#A_19, #A_23, #A_201, #A_216*/

#A_27, #A_96, #A_155, #A_194, #A_209, #A_222, #A_227, #A_231, #A_235, #A_239, #A_241 {
    color: rgb(119, 119, 119);
    display: block;
    height: 14px;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 12.25px / 12.25px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
    padding: 11.375px 0px 9.625px 17.5px;
}/*#A_27, #A_96, #A_155, #A_194, #A_209, #A_222, #A_227, #A_231, #A_235, #A_239, #A_241*/

#UL_30 {
    color: rgb(255, 255, 255);
    display: none;
    height: auto;
    left: -13.125px;
    text-align: left;
    text-rendering: optimizeLegibility;
    width: 427px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(30, 30, 30) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 0 0 4px 4px;
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 0px 8.75px;
}/*#UL_30*/

#LI_31, #LI_33, #LI_37, #LI_41, #LI_45, #LI_49, #LI_53, #LI_57, #LI_61, #LI_65, #LI_69, #LI_73, #LI_77, #LI_81, #LI_85, #LI_89, #LI_93 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 140px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_31, #LI_33, #LI_37, #LI_41, #LI_45, #LI_49, #LI_53, #LI_57, #LI_61, #LI_65, #LI_69, #LI_73, #LI_77, #LI_81, #LI_85, #LI_89, #LI_93*/

#LI_35, #LI_39, #LI_47, #LI_55, #LI_63, #LI_71, #LI_79, #LI_87, #LI_95 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 140px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_35, #LI_39, #LI_47, #LI_55, #LI_63, #LI_71, #LI_79, #LI_87, #LI_95*/

#LI_43, #LI_51, #LI_67, #LI_83 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 140px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_43, #LI_51, #LI_67, #LI_83*/

#LI_59, #LI_75 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 140px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_59, #LI_75*/

#LI_91 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 140px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_91*/

#UL_99, #UL_158 {
    color: rgb(255, 255, 255);
    display: none;
    height: auto;
    left: -13.125px;
    text-align: left;
    text-rendering: optimizeLegibility;
    width: 337.82px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(30, 30, 30) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 0 0 4px 4px;
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 0px 8.75px;
}/*#UL_99, #UL_158*/

#LI_100, #LI_102, #LI_106, #LI_110, #LI_114, #LI_118, #LI_122, #LI_126, #LI_130, #LI_134, #LI_138, #LI_142, #LI_146, #LI_150, #LI_154, #LI_161, #LI_165, #LI_169, #LI_173, #LI_177, #LI_181, #LI_185, #LI_189, #LI_193 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 166.32px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_100, #LI_102, #LI_106, #LI_110, #LI_114, #LI_118, #LI_122, #LI_126, #LI_130, #LI_134, #LI_138, #LI_142, #LI_146, #LI_150, #LI_154, #LI_161, #LI_165, #LI_169, #LI_173, #LI_177, #LI_181, #LI_185, #LI_189, #LI_193*/

#LI_104, #LI_108, #LI_116, #LI_124, #LI_132, #LI_140, #LI_148, #LI_159, #LI_167, #LI_175, #LI_183, #LI_191 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 166.32px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_104, #LI_108, #LI_116, #LI_124, #LI_132, #LI_140, #LI_148, #LI_159, #LI_167, #LI_175, #LI_183, #LI_191*/

#LI_112, #LI_120, #LI_136, #LI_152, #LI_171, #LI_187 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 166.32px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_112, #LI_120, #LI_136, #LI_152, #LI_171, #LI_187*/

#LI_128, #LI_144, #LI_179 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 166.32px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_128, #LI_144, #LI_179*/

#LI_163 {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 166.32px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_163*/

#A_205, #A_220 {
    color: rgb(119, 119, 119);
    display: block;
    height: 14px;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 12.25px / 12.25px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
    padding: 11.375px 17.5px 9.625px;
}/*#A_205, #A_220*/

#LI_210, #LI_223 {
    color: rgb(255, 255, 255);
    display: none;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_210, #LI_223*/

#A_224 {
    color: rgb(153, 153, 153);
    display: block;
    height: 17.5px;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px / 14px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 8.75px 0px 17.5px 12.25px;
}/*#A_224*/

#A_229, #A_233 {
    color: rgb(119, 119, 119);
    display: block;
    height: 14px;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 12.25px / 12.25px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
    padding: 11.375px 0px 9.625px 17.5px;
}/*#A_229, #A_233*/

#A_237 {
    color: rgb(119, 119, 119);
    display: block;
    height: 14px;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 12.25px / 12.25px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
    padding: 11.375px 0px 9.625px 17.5px;
}/*#A_237*/

#LI_240 {
    color: rgb(255, 255, 255);
    display: none;
    float: left;
    height: auto;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 113.75px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_240*/

#DIV_242 {
    color: rgb(255, 255, 255);
    display: none;
    float: right;
    height: auto;
    width: 131.25px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_242*/

#FORM_243 {
    color: rgb(255, 255, 255);
    height: 21px;
    width: 94%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(242, 242, 242) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 300 normal 15.75px / 10.5px proxima-nova, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 7px 4% 6.125px 2%;
}/*#FORM_243*/

#DIV_244 {
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 21px;
    width: 15.75px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 15.75px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_244*/

#svg_245 {
    color: rgb(255, 255, 255);
    height: 15.75px;
    width: 15.75px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: rgb(187, 187, 187);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 15.75px / 10.5px proxima-nova, Arial, sans-serif;
    margin: 1.75px 0px 0px 1.75px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#svg_245*/

#path_246 {
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    fill: rgb(187, 187, 187);
    d: path('M 497.913 497.913 c -18.782 18.782 -49.225 18.782 -68.008 0 l -84.862 -84.863 c -34.889 22.382 -76.13 35.717 -120.659 35.717 C 100.469 448.767 0 348.312 0 224.383 S 100.469 0 224.384 0 c 123.931 0 224.384 100.452 224.384 224.383 c 0 44.514 -13.352 85.771 -35.718 120.676 l 84.863 84.863 C 516.695 448.704 516.695 479.131 497.913 497.913 Z M 224.384 64.109 c -88.511 0 -160.274 71.747 -160.274 160.273 c 0 88.526 71.764 160.274 160.274 160.274 c 88.525 0 160.273 -71.748 160.273 -160.274 C 384.657 135.856 312.909 64.109 224.384 64.109 Z');
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 15.75px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#path_246*/

#DIV_247 {
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 21px;
    vertical-align: top;
    width: 75%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 15.75px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_247*/

#INPUT_248 {
    box-sizing: content-box;
    color: rgb(204, 204, 204);
    height: 21px;
    width: 98%;
    column-rule-color: rgb(204, 204, 204);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(204, 204, 204);
    font: normal normal 300 normal 15.75px / normal proxima-nova, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
    padding: 0px 0px 0px 2%;
}/*#INPUT_248*/

#DIV_249 {
    color: rgb(255, 255, 255);
    float: right;
    height: 15px;
    width: 20px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 10px 7.5px;
    transform-origin: 10px 7.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    margin: 8.75px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_249*/

#A_250 {
    color: rgb(253, 108, 163);
    text-decoration: none;
    column-rule-color: rgb(253, 108, 163);
    border: 0px none rgb(253, 108, 163);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(253, 108, 163) none 0px;
}/*#A_250*/

#svg_251 {
    color: rgb(253, 108, 163);
    height: 13px;
    width: 20px;
    column-rule-color: rgb(253, 108, 163);
    perspective-origin: 10px 6.5px;
    transform-origin: 10px 6.5px;
    fill: rgb(204, 204, 204);
    border: 0px none rgb(253, 108, 163);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(253, 108, 163) none 0px;
    overflow: hidden;
}/*#svg_251*/

#g_252 {
    color: rgb(253, 108, 163);
    column-rule-color: rgb(253, 108, 163);
    fill: rgb(204, 204, 204);
    border: 0px none rgb(253, 108, 163);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(253, 108, 163) none 0px;
}/*#g_252*/

#path_253 {
    color: rgb(253, 108, 163);
    column-rule-color: rgb(253, 108, 163);
    fill: rgb(204, 204, 204);
    d: path('M 1.5 3 h 17 C 19.328 3 20 2.329 20 1.5 S 19.328 0 18.5 0 h -17 C 0.671 0 0 0.671 0 1.5 S 0.671 3 1.5 3 Z');
    border: 0px none rgb(253, 108, 163);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(253, 108, 163) none 0px;
}/*#path_253*/

#path_254 {
    color: rgb(253, 108, 163);
    column-rule-color: rgb(253, 108, 163);
    fill: rgb(204, 204, 204);
    d: path('M 18.5 5 h -17 C 0.671 5 0 5.671 0 6.5 C 0 7.328 0.671 8 1.5 8 h 17 C 19.328 8 20 7.328 20 6.5 C 20 5.671 19.328 5 18.5 5 Z');
    border: 0px none rgb(253, 108, 163);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(253, 108, 163) none 0px;
}/*#path_254*/

#path_255 {
    color: rgb(253, 108, 163);
    column-rule-color: rgb(253, 108, 163);
    fill: rgb(204, 204, 204);
    d: path('M 18.5 10 h -17 C 0.671 10 0 10.672 0 11.5 S 0.671 13 1.5 13 h 17 c 0.828 0 1.5 -0.672 1.5 -1.5 S 19.328 10 18.5 10 Z');
    border: 0px none rgb(253, 108, 163);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(253, 108, 163) none 0px;
}/*#path_255*/

#DIV_256 {
    clear: both;
    color: rgb(255, 255, 255);
    width: 250px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 125px 0px;
    transform-origin: 125px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 10.5px / 10.5px proxima-nova, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_256*/



/*--------- INPUT PLACEHOLDER TEXT ---------*/

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white; 
}

