body {
	background-color: #000000;
	margin:0px;
	padding:0px;
    background: url(../images/start_small.png);
	background-repeat: no-repeat;
	width:100%;
    background-attachment: fixed;
    background-position: center; 
}

h2 {
	text-align: center;
	color:#fff;
	padding:5;
	margin-top:0;
}

h5 {
    text-align: center;
    color:#fff;
    padding:0;
    margin-top:0;
}


.base {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 600px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 100px;
    width: 350px;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 10px 0px;
    font: #000;
}/*#DIV_1*/

.base_signup {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 700px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 50px;
    width: 350px;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 10px 0px;
}/*#DIV_1*/

.base_main {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 650px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 50px;
    width: 500px;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 0px 0px;
}/*#DIV_1*/

.basejobs {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 160px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 50px;
    width: 80%;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 10px 0px;
}/*#DIV_1*/

.postjob {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 650px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 50px;
    width: 80%;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 10px 0px;
}/*#DIV_1*/

#logo1 {
    height: 150px;
}

#logo {
    background-position: 0px 0px;
    color: rgb(38, 38, 38);
    height: 51px;
    min-height: auto;
    min-width: auto;
    text-indent: 110%;
    white-space: nowrap;
    width: 175px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 87.5px 25.5px;
    transform-origin: 87.5px 25.5px;
    border: 0px none rgb(38, 38, 38);
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 20px 86.5px 10px;
    outline: rgb(38, 38, 38) none 0px;
    overflow: hidden;
}/*#H1_2*/

#SPLIT_1{
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 400px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 348px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 174px 200px;
    transform-origin: 174px 200px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(38, 38, 38) none 0px;
    align: center;
}/*#DIV_3*/

#FORM_1 {
    color: rgb(38, 38, 38);
    display: flex;
    height: 400px;
    min-height: auto;
    min-width: auto;
    width: 348px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 174px 200px;
    transform-origin: 174px 200px;
    border: 0px none rgb(38, 38, 38);
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(38, 38, 38) none 0px;
}/*#FORM_4*/




#SPAN_1 {
    bottom: 0px;
    color: rgb(38, 38, 38);
    display: block;
    height: 31px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 15.5px;
    transform-origin: 134px 15.5px;
    border: 0px none rgb(38, 38, 38);
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 8px 40px;
    outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_6, #SPAN_22*/

#BUTTON {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 31px;
    min-height: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 268px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 134px 15.5px;
    transform-origin: 134px 15.5px;
    background: rgba(11, 61, 146,0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(11, 61, 146);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 600 normal 14px / 29px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 11px;
}/*#BUTTON_7, #BUTTON_23*/

#BUTTON:after {
    color: rgb(255, 255, 255);
    content: '"."';
    cursor: pointer;
    display: inline-block;
    height: 29px;
    visibility: hidden;
    white-space: nowrap;
    width: 0px;
    column-rule-color: rgb(255, 255, 255);
    align-self: flex-start;
    perspective-origin: 0px 14.5px;
    transform-origin: 0px 14.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 29px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_7:after, #BUTTON_23:after*/


#SPLIT_2, #SPLIT_5 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 15px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 7.5px;
    transform-origin: 134px 7.5px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 10px 40px 5px;
    outline: rgb(38, 38, 38) none 0px;
}/*#DIV_9*/

#DIV_10{
    bottom: -7.2px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 1px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 7.2px;
    width: 106.953px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 53.4688px 0.5px;
    transform-origin: 53.4688px 0.5px;
    background: rgb(199, 199, 199) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(0, 0, 0);
    flex: 1 1 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
}/*#DIV_10, #DIV_12*/


#inputform {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 33px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 20px 6px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13, #DIV_15, #DIV_17, #DIV_19*/

#inputformopt {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 23px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: -10px 10px 10px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13, #DIV_15, #DIV_17, #DIV_19*/

#INPUT_14, #INPUT_16, #INPUT_20 {
    background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px;
}/*#INPUT_14, #INPUT_16, #INPUT_20*/

#INPUT_18 {
    background-position: 0px 0px;
    color: rgb(38, 38, 38);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px;
}/*#INPUT_18*/

#DIV_21 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 47px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 0px;
    width: 348px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 174px 23.5px;
    transform-origin: 174px 23.5px;
    border: 0px solid rgb(0, 0, 0);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
}/*#DIV_21*/

#text {
    color: rgb(255,255,255);
    height: 37px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    width: 228px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 114px 18.5px;
    transform-origin: 114px 18.5px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 14px / 18px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 10px 60px;
    margin-bottom: 0;
    outline: rgb(153, 153, 153) none 0px;
}/*#P_24*/

#A_25, #A_26 {
    color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    column-rule-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px / 18px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#A_25, #A_26*/

#button_2 {
	color: rgb(255, 255, 255);
    cursor: pointer;
    height: 31px;
    min-height: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 268px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 134px 15.5px;
    transform-origin: 134px 15.5px;
    background: rgba(11, 61, 146,0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(11, 61, 146);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 600 normal 14px / 29px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px 11px;
    align: center;
}

.nav_bar {
    margin:0;
    padding:0;
    background-color:black;
    height:80px;
}

.navbar_table {
    margin:0;
    border:0;
    color:white;
}

.postbutton {
    background-color: rgb(255,200,18); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

#servicelist {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 33px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    border: 0px solid rgb(0, 0, 0);
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 10px 6px;
    outline: rgb(255, 255, 255) none 0px;
    background-color: rgba(255,255,255,0.3);
    padding: 0 0 0 20px;
}

#budget {
    background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px;
    margin-top: -20px;
    margin-bottom: 23px;
}


/*--------- TABS CSS ---------*/
#TABLE_1 {
    color: rgb(255, 255, 255);
    height: 80px;
    width: 383px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 191.5px 40px;
    transform-origin: 191.5px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / normal Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#TABLE_1*/

#TBODY_2 {
    color: rgb(255, 255, 255);
    height: 80px;
    width: 383px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 191.5px 40px;
    transform-origin: 191.5px 40px;
    border: 0px none rgb(255, 255, 255);
    border-spacing: 2px 2px;
    font: normal normal normal normal 16px / normal Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#TBODY_2*/

#TR_3 {
    color: rgb(255, 255, 255);
    height: 76px;
    vertical-align: middle;
    width: 383px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 191.5px 38px;
    transform-origin: 191.5px 38px;
    border: 0px none rgb(255, 255, 255);
    border-spacing: 2px 2px;
    font: normal normal normal normal 16px / normal Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#TR_3*/

#TH_4 {
    color: rgb(255, 255, 255);
    height: 74px;
    text-align: -webkit-left;
    vertical-align: middle;
    width: 123px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 62.5px 38px;
    transform-origin: 62.5px 38px;
    border: 0px none rgb(255, 255, 255);
    border-spacing: 2px 2px;
    font: normal normal bold normal 16px / normal Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px;
}/*#TH_4*/

#IMG_5 {
    color: rgb(255, 255, 255);
    height: 70px;
    text-align: -webkit-left;
    width: 53px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 26.5px 35px;
    transform-origin: 26.5px 35px;
    border: 0px none rgb(255, 255, 255);
    border-spacing: 2px 2px;
    font: normal normal bold normal 16px / normal Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_5*/

#TH_6 {
    color: rgb(255, 255, 255);
    height: 74px;
    text-align: -webkit-center;
    vertical-align: middle;
    width: 123px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 62.5px 38px;
    transform-origin: 62.5px 38px;
    border: 0px none rgb(255, 255, 255);
    border-spacing: 2px 2px;
    font: normal normal bold normal 16px / normal Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px;
}/*#TH_6*/

#TH_7 {
    color: rgb(255, 255, 255);
    height: 74px;
    text-align: -webkit-right;
    vertical-align: middle;
    width: 123px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 62.5px 38px;
    transform-origin: 62.5px 38px;
    border: 0px none rgb(255, 255, 255);
    border-spacing: 2px 2px;
    font: normal normal bold normal 16px / normal Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px;
}/*#TH_7*/



.titletext {
    color:#fff;
}




/*--------- INPUT PLACEHOLDER TEXT ---------*/

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white; 
}

