body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
	background: url(../../images/start_small.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.hidden-content {
	display: none;
}

header {
	height: 60px;
	background-color: #0060f0;
}
.nav-bar {
	width: 100%;
	
	height: 40px;
}
ul {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #888888;
}
.nav-bar li {
	display: inline-block;
	width: calc(50% - 2.25px);
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 2.0em;
	color: #FEDF01;	
}
.nav-bar .active {
	color: #002888; 
	background-color: #fff;
}

.container {
	padding: 20px;
	margin: 0 15%;
	min-width: 764px;
	background-color: #fff;
	height: 100vh;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.row {
	width: 100%;
	padding: 10px 0;
}
label {
	display: block;
	margin-left: 10px;
}
.inline-label{
	display: inline-block;
}
input, textarea, select {
	margin-left: 10px;
	padding:	6px;
	border: 1px solid #6F6E6F;
	border-radius: 5px;
	min-width: 300px;
	width: 50%;
}
textarea {
	min-height:	100px;
}
#moneyoffered {
	margin-left: 0;
	width: 50px;
	min-width: 50px;
}
.checkbox {
	width: auto;
	min-width: 0;
}
form button {
	background-color: #0060f0;
	color: #fff;
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	margin-left: 10px;	
	line-height: 20px;
}