body {
	background-color: #000000;
	margin:0px;
	padding:0px;
    background: url(../images/start_small.png);
	background-repeat: no-repeat;
	width:100%;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
}
.hidden-content {
	display: none;
}
.base_main {
	color: #000 !important;
}

h2 {
	color:#fff;
	text-align:center;
}

.base {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: flex;
    height: 650px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    top: 50px;
    width: 400px;
    /*column-rule-color: rgb(38, 38, 38);*/
    perspective-origin: 175px 261.5px;
    transform-origin: 175px 261.5px;
    background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px 1px 1px 1px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(38, 38, 38) none 0px;
    padding: 10px 0px;
}/*#DIV_1*/
	
}
h1 {
	color:#fff;
}

header {
	height: 60px;
	background-color: #0060f0;
}
.nav-bar {
	width: 100%;

	height: 40px;
}
.nav-bar ul {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #888888;
}
.nav-bar li {
	display: inline-block;
	width: calc(50% - 2.25px);
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 2.0em;
	color: #FEDF01;	
	opacity:0.5;
}
.nav-bar .active {
	color: #002888; 
	background-color: #fff;
	opacity:1;
}

.container {
	padding: 20px;
	margin: 0 15%;
	min-width: 764px;
	background-color: #fff;
	height: 100vh;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.row {
	align:center;
	margin: 0 auto;
}
label {
	display: block;
	margin-left: 10px;
}
.inline-label{
	display: inline-block;
	color:#fff;
}
input, textarea, select {
	margin-left: 10px;
	padding:	6px;
	border: 1px solid #6F6E6F;
	border-radius: 5px;
	min-width: 300px;
	width: 50%;
}
textarea {
	min-height:	100px;
}
#moneyoffered {
	margin-left: 0;
	width: 50px;
	min-width: 50px;
}
.checkbox {
	width: auto;
	min-width: 0;
}
form button {
	background-color: #0060f0;
	color: #fff;
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	margin-left: 10px;	
	line-height: 20px;
}

#description {
	background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px 0px;
    align:center;
}

#servicelist {
	margin: 0 auto;
	background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px 100px;
    align:center;
}/*#DIV_13, #DIV_15, #DIV_17, #DIV_19*/
#budget { 
	background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px 0px;
    align:center;
}

#cityaddress {
	background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 33px;
    min-height: auto;
    min-width: auto;
    width: 268px;
    column-rule-color: rgb(38, 38, 38);
    perspective-origin: 134px 16.5px;
    transform-origin: 134px 16.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: rgb(38, 38, 38) none 0px;
    padding: 9px 8px 7px 0px;
    align:center;
}

.industry {
	text-align: center;
	margin: 0 65px;
	color: white;
	font: normal normal normal normal 16px / 16px proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.topbar {
    background-color: black;
    color: black;
    background: black;
    font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.tablebar {
	background-color: black;
	color:white;
	width: 100%;
	font: normal normal normal normal 14px / normal proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.borderright {
    border-style: dashed;
    border-left: thick double #fff;
}