<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title></title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../static/js/jobs.js"></script>
   	</head>
    <body background="../images/start_small.png" width = "100%">
        <table id="TABLE_1">
    <tbody id="TBODY_2">
        <tr id="TR_3">
            <th id="TH_4">
                <img src="../images/RBC-LOGO-NEW.png" id="IMG_5" alt='' />
            </th>
            <th id="TH_6">
                RBC Serve
            </th>
            <th id="TH_7">
            </th>
        </tr>
    </tbody>
</table>

    <body>
    	<div class="base">
            <form>
                <div class="row">
                    <label>Choose the industry of your service:</label>
                    <select id="servicesearch">
                        <option value="Accounting">Accounting</option>
                        <option value="Babysitting">Babysitting</option>
                        <option value="Baking">Baking</option>
                        <option value="Catering">Catering</option>
                        <option value="Housekeeping">Housekeeping</option>
                        <option value="IT Services">IT Services</option>
                        <option value="Plumbing">Plumbing</option>
                        <option value="Tutoring">Tutoring</option>
                    </select>
                </div>
                <div class="row">
                    <label>Please enter the city you are in:</label>
                    <input id="locationsearch"></input>
                </div>
                <div class="row">
                    <button id="submitsearch">Submit</input>
                </div>

                <div class="job-list">
                    <ul>
                    </ul>
                </div>
            </form>
		</div>
	</body>
</html>


