<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title></title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../static/js/jobs.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/jobs.css">
   	</head>
    <body>
    <div class="topbar">
      <table border="0" class="tablebar">
        <tr>
          <td width="33%">
          <img src = "http://vignette2.wikia.nocookie.net/logopedia/images/8/88/RBC_Bank_logo.png/revision/latest?cb=20111030202437" width="53px" height="70px"></td>
          <td class = "titletext" width="33%" align="center"><font color="white" size="5"><b>RBC Serve </b></font></td>
          <td width="33%"></td>
        </tr>
      </table>
    </div>

    <body>
    	<div class="base" style="margin:0 auto;">
            <h2>SEARCH</h2>
            <form>
                <div class="row">
                    <label class = "industry">Choose the industry of your service:</label> <br><br>
                    <div class="industry">
                        <select id="servicesearch">
                            <option value="Accounting">Accounting</option>
                            <option value="Babysitting">Babysitting</option>
                            <option value="Baking">Baking</option>
                            <option value="Catering">Catering</option>
                            <option value="Housekeeping">Housekeeping</option>
                            <option value="IT Services">IT Services</option>
                            <option value="Plumbing">Plumbing</option>
                            <option value="Tutoring">Tutoring</option>
                        </select>
                    </div>
                </div> <br>

                <div class="row">
                    <label class = "industry">Please enter the city you are in:</label> <br> <br>
                <div class="industry">
                    <input id="locationsearch"></input>
                </div> <br>
                </div>
                <div class="row">
                    <button id="submitsearch" type="button">SUBMIT</button>
                </div>

                <div id="SPLIT_2">
                        <div id="DIV_10">
                        </div>
                </div>

                <div>
                    <ul id="job-list">
                    </ul>
                </div>
            </form>

        </div>
            
	</body>
</html>


