<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>RBC Serve Login</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link href="../static/css/login.css" rel="stylesheet">
   	</head>
    <body background="../images/start_small.png" width = "100%">
    	<div class="base" style="margin:0 auto;"> <br> <br> <br>
			
		</div>
	</body>
</html>


