<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>RBC Serve Login</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link href="../static/css/login.css" rel="stylesheet">
   	</head>
    <body background="images/start_small.png" width = "100%">
    	<div class="base" style="margin:0 auto;"> <br> <br> <br>
			<div id="logo1" style="margin:0 auto;">
				<img src = "../images/RBC-LOGO-NEW.png" width = "100" >
			</div>
			<div id="SPLIT_1">
				<form id="FORM_1" enctype='application/json'>
					<div id="SPLIT_2">
						<div id="DIV_10">
						</div>
					</div>
					<div id="DIV_13">
						<input type="text" name="email" placeholder="Email" id="INPUT_14" />
					</div>
					<div id="DIV_19">
						<input type="password" name="password" placeholder="Password" id="INPUT_20" />
					</div>
					<div id="DIV_21">
						<span id="SPAN_1"><button id="BUTTON">
								Log In
							</button></span>
					</div>
					<p id="text">
						By signing up, you agree to our <b> Terms &amp;	Privacy Policy
					</p>
				</form>
				<div id="SPLIT_5">
					<div id="DIV_10">
					</div>
				</div>
				<p id="text">
						Don't have an account with us?
				</p>
				<a href = "http://www.google.com/"><p align="center" style = "margin:0">
					<button type="button" id = "signup">Sign Up</button></p>
				</a>
			</div>
		</div>
	</body>
</html>


