<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>Main</title>
      <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
      <script src="../static/js/main.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/css/main.css">
   	</head>
  <body>
  	<header class="top">
  	</header>
  	<div class="nav-bar">
  		<ul>
  			<li id="client" class="active"><a id="client">Client</a></li>
  			<li id="provider"><a id="provider">Provider</a></li>
  		</ul>
  	</div>

  	<div id="client-page" class="container">
      <div class="row submit-status"></div>
  		<div class="search-container">
  			<form>
  				<div class="row">
  					<label>Choose the industry of your service:</label>
  					<select id="servicelist" placeholder=" ">
              <option value="Accounting">Accounting</option>
              <option value="Babysitting">Babysitting</option>
              <option value="Baking">Baking</option>
              <option value="Catering">Catering</option>
              <option value="Housekeeping">Housekeeping</option>
              <option value="IT Services">IT Services</option>
              <option value="Plumbing">Plumbing</option>
              <option value="Tutoring">Tutoring</option>,
            </select>
  				</div>
  				<div class="row">
  					<label class="inline-label">What is your approximate budget?</label>
  					<label class="inline-label">$</label>
  					<input id="budget">
  				</div>
  				<div class="row">
  					<label>Please briefly describe the service you are looking for:</label>
  					<textarea id="description"></textarea>
  				</div>
  				<div class="row">
  					<label class="inline-label">
  						Is the address different than what you signed up with?</label>
  					<input id="diffaddress" class="checkbox" type="checkbox"></input>
  				</div>
  				<div class="hidden-content" id="addressfields">
						<div class="row">
							<label>Street Address</label>
							<input id="streetaddress"></input>
						</div>
						<div class="row">
							<label>City</label>
							<input id="cityaddress"></input>
						</div>
						<div class="row">
							<label>Province</label>
							<input id="provinceaddress"></input>
						</div>
						<div class="row">
							<label>Postal Code</label>
							<input id="postaladdress"></input>
						</div>
  			  </div>
  				<div class="row">
  					<button id="submitpost">Submit</input>
  				</div>
  			</form>
  		</div>
  	</div>
  	
  	<div id="provider-page" class="container hidden-content">
  		<div class="search-container">
  			<form>
  				<div class="row">
  					<label>Choose the industry of your service:</label>
  					<select id="service"></select>
  				</div>
          <div class="row">
            <button id="submitsearch">Submit</input>
          </div>
  			</form>
  		</div>
  	</div>
	</body>

</html>